<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>poly.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <display-name>Assignment_PS40336</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>poly.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>poly.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>poly.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesServlet</display-name>
    <servlet-name>CategoriesServlet</servlet-name>
    <servlet-class>poly.servlet.CategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesServlet</servlet-name>
    <url-pattern>/CategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>poly.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewslettersServlet</display-name>
    <servlet-name>NewslettersServlet</servlet-name>
    <servlet-class>poly.servlet.NewslettersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewslettersServlet</servlet-name>
    <url-pattern>/NewslettersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>poly.entity.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>poly.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrationServlet</display-name>
    <servlet-name>AdministrationServlet</servlet-name>
    <servlet-class>poly.servlet.AdministrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrationServlet</servlet-name>
    <url-pattern>/AdministrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsCategoryServlet</display-name>
    <servlet-name>NewsCategoryServlet</servlet-name>
    <servlet-class>poly.servlet.NewsCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsCategoryServlet</servlet-name>
    <url-pattern>/NewsCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighlightServlet</display-name>
    <servlet-name>HighlightServlet</servlet-name>
    <servlet-class>poly.servlet.HighlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighlightServlet</servlet-name>
    <url-pattern>/HighlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LatestServlet</display-name>
    <servlet-name>LatestServlet</servlet-name>
    <servlet-class>poly.servlet.LatestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LatestServlet</servlet-name>
    <url-pattern>/LatestServlet</url-pattern>
  </servlet-mapping>
</web-app>